@font-face {
    font-family: "Berserker";
    src: url('Berserker-Regular.otf');
}

body {
    margin: 0;
    display: grid;
    justify-content: center;
    align-content: start;
    color: white;

    background-image: url('gowragnarok.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    overflow: hidden;

    font-family: "Berserker";
}

div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
    padding-top: 40px;
}

span {
    font-size: 5rem;
    font-weight: 600;
    display: grid;
    justify-items: center;
    gap: 10px;
}


.days::before,
.hours::before,
.minutes::before,
.seconds::before {
    font-size: 2rem;
    font-weight: 600;
}

.days::before {
    content: "Dias";
}

.hours::before {
    content: "Horas";
}

.minutes::before {
    content: "Minutos";
}

.seconds::before {
    content: "Segundos";
}

@media (max-width: 425px) {

    div {
        grid-template-columns: auto;
        gap: 10px;
        padding-top: 40px;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    } 

    span {
        gap: 0px;
    }
}